@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
    height: 100%;
}
 body{ 
    background-color: #FAF0E6;
    display: grid;
    min-height: 100vh;
}
.title{
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 2px 4px black ;
    padding: 5px;
    font-size: 2em;
    letter-spacing: 0.2em;
    margin-top: 1.2rem;
    text-transform: uppercase;
   
}

.contenedor{
    margin: 2.5rem;
   width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    text-align: center;
}

.principal{
    width: 50%;
  
}

.texto p{
    margin-top: 50px;
    
}
.icon-alert{
    width: 15px;
}
.input-text, .resultado-text{
    text-align: center;
    border: none;
    width: 100%;
    resize: none;
    font-size: 1em;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
    word-break:break-all;
}
.resultado-text{
    display: none;
}
textarea::-webkit-scrollbar{
    width: 0px;
  }


.buttons{
    margin-top: 15px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.button-encriptar, .button-desencriptar, .btn-copiar{
    font-size: 1em;
    padding: 10px;
    width: 45%;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s all;
    word-break:break-all;
    position: relative;
    border: 3px solid;
    box-shadow: 8px 8px 2px black;
}
  
.button-encriptar{
    background-color: #20f7a0; 
    border: none;
}
.button-desencriptar{
    background-color: #FA8072;
    border: none;
}
.btn-copiar{
    visibility: hidden;
    margin-bottom: 1rem;
    position:fixed;
    bottom: 0;
    left: 30%;
}
.btn-copiar:hover{
    transform: scale(1.1);
    background-image: radial-gradient( #8dfff3 , #00e8f3 );
     border: none;
   
}

.button-encriptar:hover{
    transform: scale(1.2);
    
}
.button-desencriptar:hover{
    transform: scale(1.2);
    
}
.container-pantalla{
    width: 30%;
    background-color: #FFFAFA;
    border-radius: 10px;
    filter: drop-shadow(5px 10px 10px black);
    text-align: center;
}
.container-pantalla p{
   padding: 5px 10px;
} 
#subtitle{
    font-size: 1.3rem;
    font-weight: bold;
}
.muñeco{
    
    object-fit: contain;
    max-width: 80%;
    padding-top: 10px;
}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
    background-image: url(assets/img/bg.jpg);
}
#text-footer{
    color: #FAF0E6;
    padding-right: 1rem;
}

@media (max-width: 600px) {
    
    .contenedor{
        
        flex-direction: column;
        
    }
    .principal{
        width: 100%;
    }
    .content-text{
        padding-bottom: 30px;
    }
    
    .container-pantalla{
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
    .muñeco{
        width: 300px;
    }
    .buttons .btn-copiar{
        font-size: 0.8em;
    }
    
  }



