*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   margin: 5% 5%;
   display: grid;
 background-color: aqua;
}

.container-pantalla{
    width: 30%;
    background-color: aliceblue;
}
.resultado-text{
    width: 100%;
}

